fastapi==0.115.0
uvicorn==0.31.1
python-jose==3.3.0
passlib[bcrypt]==1.7.4
psycopg2-binary==2.9.10
redis==5.1.1
python-dotenv==1.0.1 
httpx==0.27.2 
celery==5.4.0 
email_validator==2.2.0 
python-multipart==0.0.12
email_validator==2.2.0 
bcrypt==4.0.1
grpcio
grpcio-tools
celery[redis]
pydantic-settings